#product-list{
    margin-top: 6rem;
}

#foot{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#discount{
    color: #ff0000;
}

#rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
}